<launch>
    <arg name="csv_file_path" default="$(find path_logger)/path_recorded/robot_path.csv"/>

    <node name="path_filter_service" pkg="path_filter" type="path_filter_server.py" output="screen">
        <param name="csv_file_path" value="$(arg csv_file_path)"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find robot_bringup)/rviz/path_filter.rviz">
    </node>
</launch>